.container{
    display: flex;
}

.endereco{
    font-size: 18px;
    color: yellow;
    margin-top: 150px;
}

footer{
    position: relative;
    margin-top: 650px;
    background-image: url(../img/slide_4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

iframe{
    width: 200px;
    height: 150px;
    margin: 40px;
    margin-top: 150px;
    margin-left: 190px;
    border-radius: 10px;
    transition: 1s all;
}

iframe:hover{
    transform: scale(1.2);
}

.Copyright_2022{
    position: absolute;
    top: 380px;
    right: 390px;
    padding: 20px;
    color: white;
    text-align: center;
    font-style: italic;
}

.localizacao{
    width: 50px;
    height: 50px;
    position: relative;
    top: 185px;
    right: 630px;
}

.telefone{
    width: 50px;
    height: 50px;
    position: relative;
    right: 680px;
    top: 272px;
}

@media (max-width: 480px){
    .endereco{
        position: relative;
        top: 145px;
        left: 22px;
        padding: 5px 0px 10px 0px;
        font-size: 14px;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
}

@media (max-width: 480px){
    #mapa{
        display: none;
    }
}

@media (max-width: 480px){
    #footer{
        position: relative;
        top: 440px;
        width: 399px;
        background-image: none;
        left: 36px;
    }
}

@media (max-width: 480px){
    .Copyright_2022{
        position: absolute;
        top: 380px;
        right: 106px;
        padding: 20px;
        color: white;
        text-align: center;
        font-style: italic;
        font-size: 10px;
    }
}