.slide_5{
    position: absolute;
    top: 1200px;
    left: 20px;
    height: 860px;
}

.slide_6{
    position: relative;
    top: 445px;
    margin-left: 165px;
    z-index: 1;

}

.slide_7{
    position: relative;
    top: 1100px;
    left: 200px; 
    width: 320px;
    z-index: 1;
    transform: rotate(-15deg);
    
}

.texto{
    color: yellow;
    font-size: 30px;
    position: relative;
    top: 500px;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.bloco1{
	position: absolute;
    top: 695px;
	margin-left: 150px;
    background-color: gray;
    width: 1050px;
	height: 125px;
	border: none;
    border-radius: 10px;
	opacity: 0.3;
}

.zap{
    position: fixed;
    margin-left: 1280px;
    top: 415px;
    width: 60px;
    cursor: pointer;
    z-index: 1;
}

.slide_9{
    position: fixed;
    top: 485px;
    width: 60px;
    cursor: pointer;
    margin-left: 1280px;
}

.slide_10{
    position: fixed;
    top: 550px;
    width: 60px;
    cursor: pointer;
    margin-left: 1280px;
}

.bloco2{
	position: absolute;
    top: 865px;
	margin-left: 150px;
    background-color: gray;
    width: 1050px;
	height: 440px;
	border: none;
    border-radius: 10px;
	opacity: 0.3;
}

.rede_social{
    position: relative;
    top: 600px;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: yellow;
}

.slide_4{
    position: relative;
    top: 650px;
    left: 470px;
}

.texto1{
    text-align: center;
    font-style: italic;
}


@media (max-width: 480px){
    .texto{
        color: yellow;
        font-size: 17px;
        position: relative;
        top: 665px;
        padding: 2px 50px;
        text-align: center;
    }
}

@media (max-width: 480px){
    .slide_6{
        position: relative;
        top: 775px;
        margin: -590px;
        overflow: hidden;
    }
}

@media (max-width: 480px){
    .rede_social{
        position: relative;
        top: 2030px;
        margin-left: 6px;
        font-style: italic;
        text-transform: uppercase;
        color: yellow;
        font-size: 35px;
    }
}

@media (max-width: 480px){
    .slide_9{
        position: relative;
        top: 1204px;
        cursor: pointer;
        margin-left: 170px;
        width: 95px;
    }
}

@media (max-width: 480px){
    .slide_10{
        position: relative;
        top: 1109px;
        cursor: pointer;
        margin-left: 290px;
        width: 95px;
    }
}

@media (max-width: 480px){
    .zap{
        position: relative;
        margin-left: 50px;
        top: 1295px;
        width: 88px;
    }
}

@media (max-width: 480px){
    .slide_7{
        position: relative;
        top: 1210px;
        left: 45px;
        width: 320px;
    }
}

@media (max-width: 480px){
    .bloco1{
        position: absolute;
        top: 675px;
        margin-left: 25px;
        background-color: gray;
        width: 370px;
        height: 125px;
        border: none;
        border-radius: 10px;
        opacity: 0.3;
    }
}

@media (max-width: 480px){
    .bloco2{
      display: none;
    }
}